<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.face.sign.system.mapper.SystemLogMapper">

    <resultMap id="SystemLogResultMap" type="com.face.sign.system.entity.SystemLogEntity">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="operation" column="operation"/>
        <result property="operationTime" column="operation_time"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="addTime" column="add_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteTime" column="delete_time"/>
        <result property="hasDelete" column="has_delete"/>
    </resultMap>

    <insert id="insert" parameterType="com.face.sign.system.entity.SystemLogEntity">
        INSERT INTO system_log (id, user_id, operation, operation_time, ip_address, add_time, update_time, has_delete)
        VALUES (#{id}, #{userId}, #{operation}, #{operationTime}, #{ipAddress}, #{addTime}, #{updateTime}, #{hasDelete})
    </insert>

    <delete id="deleteById" parameterType="Long">
        UPDATE system_log SET has_delete = 1, delete_time = NOW() WHERE id = #{id}
    </delete>

    <update id="updateById" parameterType="com.face.sign.system.entity.SystemLogEntity">
        UPDATE system_log
        SET user_id = #{userId},
            operation = #{operation},
            operation_time = #{operationTime},
            ip_address = #{ipAddress},
            update_time = NOW()
        WHERE id = #{id}
    </update>

    <select id="selectById" parameterType="Long" resultType="com.face.sign.system.entity.SystemLogEntity">
        SELECT * FROM system_log WHERE id = #{id} AND has_delete = 0
    </select>

    <select id="selectAll" resultType="com.face.sign.system.entity.SystemLogEntity">
        SELECT * FROM system_log WHERE has_delete = 0
    </select>
</mapper>