<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.face.sign.user.mapper.TeacherMapper">

    <resultMap id="TeacherResultMap" type="com.face.sign.user.entity.TeacherEntity">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="teacherNumber" column="teacher_number"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="addTime" column="add_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteTime" column="delete_time"/>
        <result property="hasDelete" column="has_delete"/>
    </resultMap>

    <insert id="insert" parameterType="com.face.sign.user.entity.TeacherEntity">
        INSERT INTO teacher (id, user_id, name, teacher_number, phone, email, add_time, update_time, has_delete)
        VALUES (#{id}, #{userId}, #{name}, #{teacherNumber}, #{phone}, #{email}, #{addTime}, #{updateTime}, #{hasDelete})
    </insert>

    <delete id="deleteById" parameterType="Long">
        UPDATE teacher SET has_delete = 1, delete_time = NOW() WHERE id = #{id}
    </delete>

    <update id="updateById" parameterType="com.face.sign.user.entity.TeacherEntity">
        UPDATE teacher
        SET user_id = #{userId},
            name = #{name},
            teacher_number = #{teacherNumber},
            phone = #{phone},
            email = #{email},
            update_time = NOW()
        WHERE id = #{id}
    </update>

    <select id="selectById" parameterType="Long" resultType="com.face.sign.user.entity.TeacherEntity">
        SELECT * FROM teacher WHERE id = #{id} AND has_delete = 0
    </select>

    <select id="selectAll" resultType="com.face.sign.user.entity.TeacherEntity">
        SELECT * FROM teacher WHERE has_delete = 0
    </select>
</mapper>